# ignore everything (via * below)
*

#allow folder's hierarchy

!*/

# upload c and cpp files
!*.c
!*.cpp

# upload h files
!*.hpp
!*.h

#uplaod java files
!*.java

#upload gitignore
!.gitignores

#upload pom.xml
!pom.xml

#upload makfiles
![mM]akefile

